<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/new-user.css" />
    <script defer type="module" src="/js/new-user.js"></script>
  </head>
  <body>
    <%- include('partials/spinner') %> <%- include('partials/header') %>
    <div class="container">
      <div class="head-block">
        <div>
          <h1>Create User</h1>
        </div>
      </div>
      <div class="form-block">
        <form>
          <div class="form-wrapper">
            <div class="input-block-wrapper">
              <div class="input-block">
                <label for="name"
                  >First Name <span><i class="fa-solid fa-asterisk"></i></span
                ></label>
                <input id="name" class="inputs" type="text" autocomplete="off" required />
              </div>
              <div class="input-block">
                <label for="surname"
                  >Last Name <span><i class="fa-solid fa-asterisk"></i></span
                ></label>
                <input id="surname" class="inputs" type="text" autocomplete="off" required />
              </div>
            </div>
            <div class="input-block">
              <label for="email"
                >Email Address <span><i class="fa-solid fa-asterisk"></i></span
              ></label>
              <input id="email" class="inputs" type="email" autocomplete="off" required />
            </div>
            <div class="input-block">
              <label for="memberships">Change Membership</label>
              <select id="memberships" class="inputs" required></select>
            </div>
          </div>
          <div>
            <a href="/users" class="btn fw-bold">Cancel</a>
            <button class="btn-primary fw-bold" type="submit">New User</button>
          </div>
        </form>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
