<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/users.css" />
    <script defer type="module" src="/js/users.js"></script>
  </head>
  <body>
    <%- include('partials/spinner') %> <%- include('partials/header') %>
    <div class="container">
      <div class="head-block">
        <div>
          <h1>User Management</h1>
        </div>
        <div>
          <a href="/new-user" class="btn-primary"><span class="sign">+</span>New User</a>
        </div>
      </div>
      <div class="sort-wrapper">
        <select id="sort">
          <option value="asc" selected>Sorting By Name: ASC</option>
          <option value="desc">Sorting By Name: DESC</option>
        </select>
      </div>
      <div class="body-block"></div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
